.planit-planinput{
    display: block;
    text-align: center;
}
.planit-planinput-group{
    font-size: calc(var(--nav-size)*0.75);
}
#planit-planinput-input-goal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(var(--nav-size)*0.35);
    width: 95%;
    text-align: center;
    background-color: transparent;
    color: var(--text-color);
    border: calc(var(--nav-size)*0.001) solid var(--grey3-transp);


}
#planit-planinput-input-plan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(var(--nav-size)*0.35);
    width: 95%;
    text-align: center;
    height: calc(var(--nav-size)*2);
    margin-top: calc(var(--nav-size)*0.3);
    background-color: transparent;
    color: var(--text-color);
    border: calc(var(--nav-size)*0.001) solid var(--grey3-transp);

}
.planit-planinput-submit{
    font-size: calc(var(--nav-size)*0.25);
    padding: calc(var(--nav-size)*0.3);
    margin: calc(var(--nav-size)*0.15);
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    border: calc(var(--nav-size)*0.001) solid var(--grey3-transp);
    border-radius: calc(var(--nav-size)*.15);


}

