@media (orientation: landscape) {
    .planit-dashboard{
        columns: 3;
    }
    .planit-dashboard-left{
        /* display: inline; */
        width: 15%;

    }
    .planit-dashboard-mid{
        /* display: inline; */
        width: 70%;
    }
    .planit-dashboard-right{
        /* display: inline; */
        width: 15%;

    }
}