.commentresult{
    font-size: calc(var(--std-unit)*.3);
    white-space: pre-line;
    border: calc(var(--std-unit)*0.001) solid black;
    margin: calc(var(--std-unit)*0.1);
}
.commentresult-time{

}
.commentresult-comment{
    
}