.planit-NNetBookView-space {
    /* Add any additional styles for the container here */
  }
  
  #planit-NNetBookView__toggle {
    opacity: 0;
  }
  
  #planit-NNetBookView__toggle:checked + .planit-NNetBookView__btn > span {
    transform: rotate(45deg);
  }
  
  #planit-NNetBookView__toggle:checked ~ .planit-NNetBookView__box {
    top: calc(var(--nav-size) * 0.3);
  }
  
  .planit-NNetBookView__btn {
    position: fixed;
    top: calc(var(--nav-size) * -0.1);
    left: calc(var(--nav-size) * 0.3);
    width: calc(var(--nav-size) * 0.6);
    height: calc(var(--nav-size) * 0.6);
    cursor: pointer;
    z-index: 1;
  }
  
  .planit-NNetBookView__btn > span {
    display: block;
    position: absolute;
    width: calc(var(--nav-size) * 0.6);
    height: calc(var(--nav-size) * 0.1);
    transition-duration: 0.25s;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .planit-NNetBookView__box {
    display: block;
    position: fixed;
    top: calc(var(--nav-size) * -2.5);
    left: calc(var(--nav-size) * 0.3);
    width: calc(var(--nav-size) * 5);
    padding: calc(var(--nav-size) * 0.08) 0;
    list-style: none;
    background-color: var(--bg-nav1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border: calc(var(--nav-size)*0.001) solid var(--border-nav);
    transform: translateY(calc(var(--nav-size) * 0.15)); /* Initially hidden above the screen */
    transition-duration: 0.25s;
    text-align: left;
  }
  
  .planit-NNetBookView-box-header {
    font-size: calc(var(--nav-size) * 0.35);
    margin: calc(var(--nav-size) * 0.1);
  }
  
  .planit-NNetBookView-box-body {
    font-size: calc(var(--nav-size) * 0.3);
    margin: calc(var(--nav-size) * 0.1);
  }