.planit-goalresult{
    margin-top: calc(var(--nav-size)*0.3);
    border: calc(var(--nav-size)*0.01) solid var(--text-color) ;
    text-align: center;
    font-size: calc(var(--nav-size)*0.3);
    padding: calc(var(--nav-size)*0.3);
    
}
