body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --dark-blue0: #101B22;
  --dark-blue0-grey: #0c141a;
  --dark-blue1: #1a2b36;
  --white0: #F4F7FD;
  --grey0: #e0e2e8;
  --grey1: #bbbdc2;
  --grey2: #8e8f93;
  --grey3: #5d5d60;
  --grey4: #2d2d2e;
  --grey5: #151516;
  --green0: #a3ffcb;
  --green1: #0dff76;
  --green2: #056b32;
}
@media (orientation: landscape) {
  :root{
  --nav-size: min(5vw,5vh);
  }
}
@media (orientation: portrait) {
  :root{
    --nav-size: min(18vw,9vh);
  }
}

.light-theme{
  --bg-pagelink: var(--green0);
  --bg-nav1: var(--white0);
  --bg-nav2: var(--grey0);
  --bg-page: var(--white0);
  --text-color: var(--dark-blue0);
  --text-color-inv: var(--white0);
  --bg-accent: var(--green1);
  --border-nav: var(--grey1);
  --bg-nav-dropper: var(--grey1);
}
.dark-theme{
  --bg-pagelink: var(--green2);
  --bg-nav1: var(--dark-blue0);
  --bg-nav2: var(--dark-blue0-grey);
  --bg-page: var(--grey5);
  --text-color: var(--white0);
  --text-color-inv: var(--dark-blue0);
  --bg-accent: var(--green1);
  --border-nav: var(--dark-blue1);
  --bg-nav-dropper: var(--grey4);
}

















.planit-dashboard{
  font-size: calc(var(--nav-size)*0.3);
  color: var(--text-color);
}