body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --nav-size: max(8vw,min(3rem,6vw));
  --dark-blue0: #101B22;
  --dark-blue0-grey: #0c141a;
  --dark-blue1: #1a2b36;
  --white0: #F4F7FD;
  --grey0: #e0e2e8;
  --grey1: #bbbdc2;
  --grey2: #8e8f93;
  --grey3: #5d5d60;
  --grey4: #2d2d2e;
  --grey5: #151516;
  --green0: #a3ffcb;
  --green1: #0dff76;
  --green2: #056b32;
}
.light-theme{
  --bg-pagelink: var(--green0);
  --bg-nav1: var(--white0);
  --bg-nav2: var(--grey0);
  --bg-page: var(--white0);
  --text-color: var(--dark-blue0);
  --text-color-inv: var(--white0);
  --bg-accent: var(--green1);
  --border-nav: var(--grey1);
  --bg-nav-dropper: var(--grey1);
}
.dark-theme{
  --bg-pagelink: var(--green2);
  --bg-nav1: var(--dark-blue0);
  --bg-nav2: var(--dark-blue0-grey);
  --bg-page: var(--grey5);
  --text-color: var(--white0);
  --text-color-inv: var(--dark-blue0);
  --bg-accent: var(--green1);
  --border-nav: var(--dark-blue1);
  --bg-nav-dropper: var(--grey4);
}
.planit-header{
  background-image: linear-gradient(to right,var(--bg-nav1),var(--bg-nav2));
  color: var(--text-color);
  height: var(--nav-size);
  vertical-align: top;
  font-size: calc(var(--nav-size)*0.5);
  display:flex;
  border-bottom: calc(var(--nav-size)*0.01) solid var(--border-nav);
  text-decoration: none;
}
.planit-header-logo{
  display: inline-block;

}
.planit-header-title{
  display: inline-block;
  padding-top: calc(var(--nav-size)*0.15);
  bottom: 0;
  color: var(--secondary-color);
  margin-right: auto;
}
#planit-header-logo-img{
  width: calc(var(--nav-size)*0.81);
  margin: calc(var(--nav-size)*0.1);
  vertical-align: middle;
}
a{
  text-decoration: none;
}
@media (orientation: landscape) {
  .planit-header-dropper-space{
    display: none;
  }
}
@media (orientation: portrait) {
  .planit-header-themebutton{
    display: none;
  }
  .planit-header-dropper-themebutton{
    font-size: calc(var(--nav-size)*0.35);
    background-color: var(--bg-accent);
    cursor: pointer;
    padding: calc(var(--nav-size)*0.1);
    margin-left: calc(var(--nav-size)*0.5);
    margin-bottom: calc(var(--nav-size)*0.4);
  }
  .planit-header-dropper-themebutton:hover {
    background-color: var(--bg-pagelink);
    color: var(--text-color);
  }
  .planit-header-dropper-space{

  }
  /* .planit-header-dropper-pagelink{
    display: block;
    color: var(--text-color);
    text-align: left;
    padding: calc(var(--nav-size)*0.15);
  } */
  #planit-header-dropper__toggle {
    opacity: 0;
  }
  #planit-header-dropper__toggle:checked + .planit-header-dropper__btn > span {
    transform: rotate(45deg);
  }
  #planit-header-dropper__toggle:checked + .planit-header-dropper__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #planit-header-dropper__toggle:checked + .planit-header-dropper__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #planit-header-dropper__toggle:checked ~ .planit-header-dropper__box {
    right: 0 !important;
  }
  .planit-header-dropper__btn {
    position: fixed;
    /* margin-top: calc(var(--nav-size)*0.13); */
    top: calc(var(--nav-size)*0.3);
    right: calc(var(--nav-size)*0.3);
    width: calc(var(--nav-size)*0.45);
    padding-top: calc(var(--nav-size)*0.2);
    padding-bottom: calc(var(--nav-size)*0.3);
    cursor: pointer;
    z-index: 1;
  }
  .planit-header-dropper__btn > span,
  .planit-header-dropper__btn > span::before,
  .planit-header-dropper__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(var(--nav-size)*0.05);
    background-color: var(--text-color);
    transition-duration: .25s;
  }
  .planit-header-dropper__btn > span::before {
    content: '';
    top: calc(var(--nav-size)*-.12);
  }
  .planit-header-dropper__btn > span::after {
    content: '';
    top: calc(var(--nav-size)*.13);
  }
  .planit-header-dropper__box {
    display: block;
    position: fixed;
    top: calc(var(--nav-size)*0);
    right: -100%;
    width: calc(var(--nav-size)*5);
    height: 100%;
    margin: 0;
    padding: calc(var(--nav-size)*0.08) 0;
    list-style: none;
    background-color: var(--bg-nav1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    text-align: left;
  }
  .planit-header-dropper-pagelink {
    display: block;
    padding: calc(var(--nav-size)*0.2) calc(var(--nav-size)*0.2);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: calc(var(--nav-size)*0.45);
    text-decoration: none;
    transition-duration: .25s;
  }
  .planit-header-dropper-pagelink:hover {
    background-color: var(--bg-pagelink);
    font-weight: bold;
  }
  
}

















.planit-dashboard{
  font-size: calc(var(--nav-size)*0.3);
  color: var(--text-color);
}