body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --dark-blue0: #101B22;
  --dark-blue0-grey: #0c141a;
  --dark-blue1: #1a2b36;
  --white0: #F4F7FD;
  --white0-transp: rgb(244, 247, 253, 0.9);
  --white1-transp: rgb(244, 247, 253, 0.2);
  --white1: #faf7fb;
  --grey0: #e0e2e8;
  --grey1: #bbbdc2;
  --grey2: #8e8f93;
  --grey3: #5d5d60;
  --grey3-transp: rgb(93, 93, 96, 0.15);
  --grey4: #2d2d2e;
  --grey5: #151516;
  --grey5-transp: rgb(21, 21, 22, 0.95);
  --green0: #a3ffcb;
  --green1: #0dff76;
  --green2: #056b32;
  --green3: #033519;
  --red0: #dc0000;
  --red1: #b78c8c;
  --red2: #962525;
  --red3: #5d0d0d;

}
@media (orientation: landscape) {
  :root{
  --nav-size: min(5vw,5vh);
  --std-unit: var( --nav-size );
  }
}
@media (orientation: portrait) {
  :root{
    --nav-size: calc( min( 18vw, 9vh ) * 0.775 );
    --std-unit: var( --nav-size );
    --toastify-toast-width: 99% !important;
    --toastify-toast-max-height: calc(var(--nav-size)*10) !important;
    --toastify-toast-min-height: calc(var(--nav-size)*1) !important;
  }
  .Toastify__toast-container{
    font-size: calc(var(--nav-size)*.3) !important;
    padding: 1% !important;
  }
  .Toastify__progress-bar{
    height: calc(var(--nav-size)*.1) !important;
  }
  .Toastify__toast-container--top-right{
    top: 0;
    right: 0;
  }
}



.light-theme{
  --bg-pagelink: var(--green0);
  --bg-nav1: var(--white0);
  --bg-nav2: var(--grey0);
  --bg-page: var(--white0);
  --bg-page-transp: var(--white0-transp);
  --bg-plan: var(--white1);
  --text-color: var(--dark-blue0);
  --text-color-inv: var(--white0);
  --bg-accent: var(--green1);
  --border-nav: var(--grey1);
  --border-plan: var(--grey5-transp);
  --bg-nav-dropper: var(--grey1);
  --bg-themebutton-land: var(--bg-accent);
  --bg-planpreview: var(--grey1);
  --color-favorite: var(--text-color);
  --color-unfavorite: var(--text-color);
}
.dark-theme{
  --bg-pagelink: var(--green2);
  --bg-nav1: var(--dark-blue0);
  --bg-nav2: var(--dark-blue0-grey);
  --bg-page: var(--grey5);
  --bg-page-transp: var(--grey5-transp);
  --bg-plan: var(--grey3-transp);
  --text-color: var(--white0);
  --text-color-inv: var(--dark-blue0);
  --bg-accent: var(--green1);
  --border-nav: var(--dark-blue1);
  --border-plan: var(--grey3-transp);
  --bg-nav-dropper: var(--grey4);
  --bg-themebutton-land: var(--green3);
  --bg-planpreview: var(--grey4);
  --color-favorite: var(--text-color);
  --color-unfavorite: var(--text-color);
}

















.planit-dashboard{
  font-size: calc(var(--nav-size)*0.3);
  color: var(--text-color);
}