
.planit-planresult{
    border: calc(var(--nav-size)*0.0001) groove var(--border-nav);
    margin-top: calc(var(--nav-size)*.1);
    background-color: var(--text-color-inv);
    color: var(--text-color);
    display:inline-block;
    font-size: calc(var(--nav-size)*.3);
    text-align: center;
    width: 100%;
    min-height: 10vh;
    border-radius: calc(var(--nav-size)*.15);
    /* padding-top: calc(var(--nav-size)*.2); */
}
.planit-planresult-1{
    
}.planit-planresult-2{
    margin-top: calc(var(--nav-size)*.3);
    margin-bottom: calc(var(--nav-size)*.3);
}.planit-planresult-3{
    text-align: right;
}
.planit-planresult-votecomment-holder{
    width: 100%;
    text-align: center;

}
.planit-planresult-votecomment-link{
    width: 2%;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);

}
.planit-planresult-votecomment{
    display: inline-block;
    text-align: center;
    width: 50%;
    /* display: inline-block; */
    z-index: -1;
    font-size: calc(var(--nav-size)*.25);
    padding-bottom: calc(var(--nav-size)*.2);
    padding-top: calc(var(--nav-size)*.1);
}
.planit-planresult-date{
    font-size: calc(var(--nav-size)*.25);
    display: inline-block;
    width: 35vw;
    text-align: left;
}
.planit-planresult-share{
    width: 15vw;
    font-size: calc(var(--nav-size)*.25);
    display: inline-block;
}
.planit-planresult-share-btn{
    background-color: transparent;
    font-size: calc(var(--nav-size)*.275);
    color: var(--text-color);
    vertical-align: middle;
    border: none;
}
.planit-planresult-fav{
    width: 10vw;
    font-size: calc(var(--nav-size)*.25);
    vertical-align: middle;
    display: inline-block;
}
.planit-planresult-fav-btn{
    background-color: transparent;
    border: none;
    font-size: calc(var(--nav-size)*.3);
    vertical-align: middle;
    color: var(--color-favorite);
}
.planit-planresult-unfav-btn{
    font-size: calc(var(--nav-size)*.45);
    background-color: transparent;
    border: none;
    color: var(--color-unfavorite);
    vertical-align: middle;
} 
.planit-planresult-manageplan{
    width: 10vw;
    display: inline-block;
    /* padding-left: calc(var(--nav-size)*.05); */
}
.planit-planresult-manageplan-btn{
    font-size: calc(var(--nav-size)*.35);    
    vertical-align: middle;
    font-weight: bold;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}
.planit-planresult-goal{

    display: block;

}
.planit-planresult-goalbutton{
    font-size: calc(var(--nav-size)*.3);    
    font-weight: bold;
    
}
.planit-planresult-plan{

    display: block;
}
.planit-planresult-planbutton{
    font-size: calc(var(--nav-size)*.25);    
    font-weight: normal;
    
}
.planit-planresult-disagree-div{
    position: absolute;
    left: calc(var(--nav-size)*1);
}.planit-planresult-agree-div{
    position: absolute;
    right: calc(var(--nav-size)*1);
}
.planit-planresult-agree{
    display: inline-block;
    /* position: absolute; */
    /* right: calc(var(--nav-size)*5); */
    border: none;
    width: calc(var(--nav-size)*0.6);
    height: calc(var(--nav-size)*0.6);
    background-color: var(--white1-transp);

    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
}
.planit-planresult-agreeACT{
    display: inline-block;
    /* position: absolute; */
    /* right: calc(var(--nav-size)*5); */
    background-color: var(--green0);
    border: calc(var(--nav-size)*0.001) solid var(--text-color);
    width: calc(var(--nav-size)*0.6);
    height: calc(var(--nav-size)*0.6);
    color: var(--dark-blue0);
    cursor: pointer;
    border-radius: 50%;
}
.planit-planresult-disagree{
    display: inline-block;
    /* position: absolute; */
    /* left: calc(var(--nav-size)*1); */
    border: none;

    width: calc(var(--nav-size)*0.6);
    height: calc(var(--nav-size)*0.6);
    background-color: var(--white1-transp);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;

}
.planit-planresult-disagreeACT{
    display: inline-block;
    /* position: absolute; */
    /* left: calc(var(--nav-size)*5); */
    background-color: var(--red1);    
    border: calc(var(--nav-size)*0.001) solid var(--text-color);

    width: calc(var(--nav-size)*0.6);
    height: calc(var(--nav-size)*0.6);
    border-radius: 50%;
    cursor: pointer;
    color: var(--text-color);

}
.planit-planresult-thumb{
    width: calc(var(--nav-size)*0.35);
    vertical-align: middle;
    text-align: center;
}
.planit-planresult-plan{
    margin-top: calc(var(--nav-size)*.5);
    white-space: pre-line;
}
.planit-planresult-goalbutton{
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
}
.planit-planresult-planbutton{
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
}

@media (orientation: landscape) {

}